/* Media queries */
@media only screen and (max-height: 700px) {
  .player-frame {
    margin-top: -220px;
  }

  .player-heading {
    margin-top: -169px;
  }
}

@media only screen and (max-width: 480px) {

  .picker {
    width: 380px;
    height: 280px;
    margin-left: -190px;
    margin-top: -140px;
  }

  .picker .path {
    transition-delay: .5s;
  }

  .picker-we li {
    padding: 0 16px;
  }

  .player-frame {
    height: 188px;
    width: 188px;
    margin-top: -150px;
    margin-left: -94px;
  }
  
  .player-frame svg {
    width: 188px;
    height: 188px;
  }

  .player-heading {
    margin-top: -145px;
    transform: scale(.70);
  }

  h1, h2 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 28px;
  }

  .player-destination,
  .player-facebook {
    font-size: 12px;
  }

}

@media only screen and (max-width: 320px) {

  .picker {
    width: 320px;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    top: 0;
    left: 0;
    padding: 24px 0; 
  }

  .picker .path {
    transition-delay: .5s;
  }

  .picker-we li {
    padding-top: 20px;
  }

  .picker-header {
    padding: 0;
  }

  .picker-we h2 {
    padding-top: 16px;
  }

  .picker-we li:last-child h2 {
    padding-top: 4px;
  }
  
}
